.task {
  /* // position: absolute; */
  overflow: hidden;
  display: flex;
  padding: 2px;
  /* // width: 300px; */
  border: 4px solid green;
  margin: 3px;
  border-radius: 6px;
}

.taskContent {
  /* position: relative; */
  text-align: left;
  /* right: 35px; */
  margin: 1px;
  /* width: 88%; */
}
