.task {
  /* // position: absolute; */
  background: white;
  overflow: hidden;
  display: flex;
  padding: 2px;
  /* // width: 300px; */
  border: 4px solid green;
  margin: 3px;
  border-radius: 6px;
}

.taskContent {
  position: relative;
  text-align: left;
  right: 35px;
  margin: 1px;
  width: 88%;
}

.taskEdit {
  display: flex;
  position: relative;
  height: 25px;
  top: 1px;
  /* // bottom: 1px, */
  left: 86%;
  /* // left: 10px */
}
